.feedback
  padding: 68px 0
  background: url('../img/feedback/feedback-bg.jpg') no-repeat center right 
  position: relative 
  z-index: 1
  &-wrap
    display: flex
    flex-direction: column
  &:before
    content: ''
    position: absolute
    left: 0
    top: 0
    width: 56%
    height: 100%
    background-color: #ffffff
    z-index: -1
.feedback 
  &-text
    width: 48.7%
    padding-top: 25px
    display: flex
    justify-content: space-between
    &__item
      font-size: 15px
      line-height: 24px
      text-align: left
      color: $text-color
      &_b 
        +bold
        display: block
      &-2
        position: relative
        width: 36%
      &-2::before
        content: ""
        display: block
        left: -60px
        top: 10px
        position: absolute
        width: 40px  
        height: 40px
        background: url('../img/feedback/phone.png') no-repeat center center
        border: 2px solid #cccccc
        border-radius: 50%
  &__title
    width: 44%
    font-size: 24px
    +bold
    line-height: 35px
    margin-bottom: 45px
  &__subtitle
    display: block
    margin-bottom: 50px

.form-feedback
  width: 48.8%
  margin-left: 0.4%
  &__input
    margin-bottom: 28px
    width: 47.4%
    &:first-child
      margin-right: 3.5%
  &__button
    display: block
    height: 70px
    width: 100%
    font-size: 16px
  

