
.footer
  display: flex
.map
  width: 54.1%
.contacts
  width: 540px
  padding: 100px 0 120px
  font-size: 16px
  &__city
    width: 30.3%
    margin-bottom: 35px
    margin-left: 46%;
    position: relative
    &:before
      content: ""
      display: block
      position: absolute
      top: 0
      left: -45%
      width: 14px
      height: 20px
      background: url('../img/footer/map-icon.png')  
  &__mode
    width: 30.3%
    margin-bottom: 35px
    margin-left: 46%;
    position: relative
    &:before
      content: ""
      display: block
      position: absolute
      top: 0
      left: -45%
      width: 20px
      height: 20px
      background: url('../img/footer/clock-icon.png')  
  &__tel
    width: 30.3%
    margin-left: 46%;
    position: relative
    &:before
      content: ""
      display: block
      position: absolute
      top: 0
      left: -45%
      width: 20px
      height: 20px
      background: url('../img/footer/phone-icon.png') 
  &__phone
    display: block
    +bold
    font-size: 16px
    text-decoration: none
    color: #000000
    &:hover
      text-decoration: underline
  &__title
    width: 60%
    margin: 0 0 100px 31%;
    font-size: 22px
    +bold
    line-height: 33px
    position: relative
  &-wrap
    width: 45.9%
.bold
  +bold
  display: block