@media (max-width: 1200px)
  .container
    width: 970px
  .feedback
    &::before
      width: 60%
    &__title
      width: 60%
    &-text
      width: 55%
  .form-feedback
    width: 55%
  .calculation
    &::before
      width: 50%
    &-text 
      width: 50%
      padding: 80px 0 0
    &-form
      width: 50%
      padding: 80px 0 80px 0
      justify-content: center
    &__title
      width: 70%
      text-align: left
    &-list 
      list-style-type: none
      padding: 0
      width: 80%
    &-list__text
      width: 85%
  .form-calculation
    width: 70%
  .feedback-text__item-2
    width: 40%
  .form-feedback
    width: 70%
  .modal-discr
    padding: 80px 0 80px 38px;
@media (max-width: 992px)
  .container
    width: 767px
  .main
    &-text
      &__title
        font-size: 30px
        line-height: 36px
  .feedback
    background: #ffffff
    &__title
      width: 100%
      text-align: center
    &__subtitle
      width: 100%
      text-align: center
    &-text 
      width: 100%
      justify-content: center
      &__item
        width: 30%
        &-2
          margin-left: 10%
          width: 25%
  .form-feedback
    margin: 0 auto
    &__input 
      width: 100%
      &:first-child
        margin-right: 0
  .calculation
    background: #ffc000
    &-wrap
      flex-wrap: wrap
      justify-content: center
    &-text 
      width: 70%
      padding: 80px 0 0
    &-form
      width: 70%
      padding: 80px 0 80px 0
      justify-content: center
    &__title
      width: 100%
      text-align: center
    &__subtitle
      text-align: center
    &-list 
      margin-left: auto
      margin-right: auto
    &-list__item
      display: flex
      align-items: center
      margin-bottom: 26px
      justify-content: space-between
      +medium
      font-size: 18px
    &-list__text
      width: 85%
  .form-calculation
    width: 80%
  .modal-form__title
    width: 90%
  .modal-discr
    padding: 60px 0 60px 10px;
    &__img
      margin-right: 15px
  .form-modal
    width: 90%
@media (max-width: 768px)
  .container
    width: 95%
  .main
    &-wrap
      flex-direction: column
    &-text
      width: 400px
      margin: auto
      &__title
        text-align: center
  .feedback__title
    margin-left: auto
    margin-right: auto
    width: 80%
    text-align: center
  .feedback-text
    flex-direction: column
  .feedback-text__item-1
    margin-left: auto
    margin-right: auto
    width: 50%
    margin-bottom: 20px
    text-align: center
  .feedback-text__item-2
    width: 50%
    margin-left: auto
    margin-right: auto
    text-align: center
    &::before
      display: none
  .calculation
    &__subtitle
      margin-bottom: 40px
  .modal__dialog
    flex-wrap: wrap
  .modal-discr
    padding: 40px 0
    width: 100%
    justify-content: center
    display: flex
    flex-wrap: wrap
    &__img
      margin-right: 10%
    &__item
      width: 70%
  .modal-list
    width: 100%
  .modal-form
    width: 70%
  .modal-discr__img_big
    margin-right: 0
  .modal-discr__item_big 
    width: 70%
    text-align: center
  .slider
    &__item
      margin-right: 100px
      margin-left:  100px
      width: 360px
@media (max-width: 576px)
  .contaner
    width: 90%
  .portfolio
    padding: 40px 0
  .button
    display: none
  .button_sm
    display: block
  .form__button
    display: block
  .header
    &-wrap
      flex-direction: column
  .main
    padding: 40px 0
    &-text
      width: 100%
  .feedback
    padding: 40px 0 80px 
    &__title
      width: 100%
  .form-feedback
    width: 100%
  .section__title
    font-size: 27px
  .calculation-text
    width: 100%
  .calculation-form
    width: 100%
  .calculation-list
    width: 100%
  .modal-discr
    &__item
      width: 90%
  .modal-form
    width: 90%