@media (max-width: 1200px)
  .container
    width: 970px
  .feedback
    &::before
      width: 60%
    &__title
      width: 60%
    &-text
      width: 55%
  .form-feedback
    width: 55%
  .calculation
    &::before
      width: 50%
    &-text 
      width: 50%
      padding: 80px 0 0
    &-form
      width: 50%
      padding: 80px 0 80px 0
      justify-content: center
    &__title
      width: 70%
      text-align: left
    &-list 
      list-style-type: none
      padding: 0
      width: 80%
    &-list__text
      width: 85%
  .form-calculation
    width: 70%
  .feedback-text__item-2
    width: 40%
  .modal-discr
    padding: 80px 0 80px 38px;
  .step
    max-width: 19%;
    margin-bottom: 40px; 
  .contacts
    width: 485px
    &-wrap
      width: 50%
    &__title
      width: 70%
    &__city
      width: 40% 
      &:before
        left: -35%
    &__mode 
      width: 40%
      &:before
        left: -35%
    &__tel 
      width: 40% 
      &:before
        left: -35%
  .portfolio::before
    width: 40%
  .map 
   width: 50%   
  .slider__item 
    margin-right: 10px
@media (max-width: 992px)
  .container
    width: 767px
  .main
    &-text
      &__title
        font-size: 30px
        line-height: 36px
  .feedback
    background: #ffffff
    &__title
      width: 100%
      text-align: center
    &__subtitle
      width: 100%
      text-align: center
    &-text 
      width: 100%
      justify-content: center
      &__item
        width: 30%
        &-2
          margin-left: 10%
          width: 25%
  .form-feedback
    margin: 0 auto
    &__input 
      width: 100%
      &:first-child
        margin-right: 0
  .portfolio
    padding: 50px 0 140px
    &:before
      display: none   
  .conditions .section-title
    width: 70%   
  .calculation
    background: #ffc000
    &-wrap
      flex-wrap: wrap
      justify-content: center
    &-text 
      width: 70%
      padding: 80px 0 0
    &-form
      width: 70%
      padding: 80px 0 80px 0
      justify-content: center
    &__title
      width: 100%
      text-align: center
    &__subtitle
      text-align: center
    &-list 
      margin-left: auto
      margin-right: auto
    &-list__item
      display: flex
      align-items: center
      margin-bottom: 26px
      justify-content: space-between
      +medium
      font-size: 18px
    &-list__text
      width: 85%
  .card 
    width: 48%;
  .reliability
    padding: 60px 0
    &-title
      font-size: 28px
      width: 85%
      margin: 0 auto
  .form-calculation
    width: 80%
  .modal-form__title
    width: 90%
  .modal-discr
    padding: 60px 0 60px 10px;
    &__img
      margin-right: 15px
  .form-modal
    width: 90%
  .footer 
    flex-wrap: wrap
  .contacts
    width: 100%
    &-wrap
      width: 767px
      margin: 0 auto
      order: -1
    &__city:before 
      left: -25%
    &__mode:before 
      left: -25%
    &__tel:before 
      left: -25%
  .map
    width: 100%
  .arrow-left
    left: 39%
  .arrow-right
    left: 51%
  .step
    max-width: 20%; 
  .slider__item 
    margin-right: 0
@media (max-width: 768px)
  .container
    width: 95%
  .main
    &-wrap
      flex-direction: column
    &-text
      width: 400px
      margin: auto
      &__title
        text-align: center
  .feedback__title
    margin-left: auto
    margin-right: auto
    width: 80%
    text-align: center
  .feedback-text
    flex-direction: column
  .feedback-text__item-1
    margin-left: auto
    margin-right: auto
    width: 50%
    margin-bottom: 20px
    text-align: center
  .feedback-text__item-2
    width: 50%
    margin-left: auto
    margin-right: auto
    text-align: center
    &::before
      display: none
  .calculation
    &__subtitle
      margin-bottom: 40px
  .modal__dialog
    flex-wrap: wrap
  .modal-discr
    padding: 40px 0
    width: 100%
    justify-content: center
    display: flex
    flex-wrap: wrap
    &__img
      margin-right: 10%
    &__item
      width: 70%
  .modal-list
    width: 100%
  .modal-form
    width: 70%
  .modal-discr__img_big
    margin-right: 0
  .modal-discr__item_big 
    width: 70%
    text-align: center

  .conditions .section-title 
    width: 90%
  .step 
    max-width: 28%
  .calculation
    &__title
      width: 100%
    &__subtitle
      width: 100% 
@media (max-width: 576px)
  .contaner
    width: 90%
  .portfolio
    padding: 40px 0
  .button
    display: none
  .button_sm
    display: block
  .form__button
    display: block
  .header
    &-wrap
      flex-direction: column
  .main
    padding: 40px 0
    &-text
      width: 100%
  .feedback
    padding: 40px 0 80px 
    &__title
      width: 100%
  .form-feedback
    width: 100%
  .section__title
    font-size: 27px
  .calculation-text
    width: 100%
  .calculation-form
    width: 100%
  .calculation-list
    width: 100%
  .modal-discr
    &__item
      width: 90%
  .modal-form
    width: 90%
  .card 
    width: 90%
  .price-wrap
    justify-content: center
  .step 
    max-width: 50% 
  .reliability-title
    width: 100%
    font-size: 26px