#modal-mini-js
  position: fixed
  top: 0
  left: 0
  height: 100%
  width: 100%
  background: #000
  width: 100%
  background: rgba(0, 0, 0 , 0.62)
  z-index: 1
  overflow: auto
  display: flex
  justify-content: center
  align-items: center
  display: none
.modal-mini__message
  width: 400px
  color: black
  background: white
  fonts-size: 30px
  text-transform: uppercase
  display: flex
  flex-wrap: wrap
  +bold
  position: relative
.modal-mini__title
  width: 100%
  background: $primary-color
  text-align: center
  margin: 0
  padding: 10px 0
.modal-mini__text
  padding: 70px 0
  text-align: center
  width: 100%
#modal-js
  position: fixed
  top: 0
  left: 0
  height: 100%
  width: 100%
  background: #000
  width: 100%
  background: rgba(0, 0, 0 , 0.52)
  z-index: 1
  overflow: auto
  display: none
.modal
  padding: 100px 0
  &__dialog
    margin: 75px auto 0 
    display: flex
    justify-content: center
    background: white
    position: relative
  &-close
    position: absolute
    width: 25px
    top: 5px
    right: 5px
    height: 25px
    border: 2px solid $text-color
    border-radius: 50%
    font-size: 14px
    text-align: center
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
  &-discr
    width: 51.2%
    padding: 80px 80px 38px
    background: #f7f7f7
    &__img
      margin-right: 30px
    &__item
      display: flex
      align-items: center
      margin-bottom: 11px
    &__title
      margin: 0 0 24px 0
      font-size: 16px
      display: block
      +medium
    &__price
      margin-bottom: 5px
      font-size: 16px
      +bold
      &_normal
        font-family: 'Museo Sans Light', sans-serif
.modal-disicr__text
  position: relative
.modal-disicr__line
  display: block
  position: absolute
  top: 27px
  left: 0
  width: 42px
  height: 2px
  background-color: $primary-color
.modal-form
  width: 48.8%
  padding: 75px 0
  &__title
    width: 64.6%
    text-align: center
    font-size: 22px
    +center-block
    +bold
    margin-top: 0
    margin-bottom: 42px
    line-height: 33px
  &__subtitle
    text-align: center
    font-size: 16px
    margin-bottom: 48px
    display: block
  
.form-modal
  width: 64.6%
  +center-block
  margin-bottom: 30px
  &__input
    width: 100%
    margin-bottom: 15px 
  &__button 
    margin-top: 15px
    height: 70px
    width: 100%
    font-size: 16px
    +bold
 
.modal-form__text
  width: 55%
  +center-block
  text-align: center
.modal-form__callback
  margin-bottom: 7px
  font-size: 15px
  line-height: 20px
.modal-form__tel
  +bold
  font-size: 24px

.modal-discr
  &__item_big 
    display: flex
    flex-direction: column
  &__img_big
    margin: 0 0 50px 0
  &__text_big
    font-size: 20px
    width: 100%
  &__item_list
    display: flex
    flex-direction: column
  &__title_list
    margin: 37px 0 10px 0
    text-align: left
    width: 100%
    font-size: 14px
.modal-list
  list-style-type: none
  padding: 0 0 0 15px
  width: 100%
  &__item
    margin-bottom: 9px
    font-size: 14px
    color: #000000
    position: relative
    &::before
      content: ''
      position: absolute
      left: -17px
      top: 3px
      display: block
      width: 7px
      height: 7px
      border-radius: 50%
      background-color: #ffd200

    

