@import 'var'
@import 'mixins'
@import 'interface'
@import 'normalize'
@import 'fonts'

@import 'header'
@import 'main'
@import 'feedback'
@import 'portfolio'
@import 'price'
@import 'conditions'
@import 'calculation'
@import 'reliability'
@import 'footer'
@import 'modal'

*, *:before, *:after
  box-sizing: border-box
body
  font-family: 'Museo Sans Light', sans-serif
  
.container
  width: 1170px
  margin: 0 auto
  color: $text-color

img
  max-width: 100%

.section
  &-title
    +bold
    line-height: 45px
    text-align: center
  &-subtitle
    font-size: 20px
    text-align: center
    display: block
@import 'media'

  